<a href="https://colab.research.google.com/github/galhev/Featuretools/blob/master/featuretools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing with Featuretools & Sklearn-pandas

In [2]:
# Install package
pip install featuretools

Requirement already satisfied: featuretools in /usr/local/lib/python3.6/dist-packages (0.4.1)
Requirement already satisfied: dask>=0.19.4 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.1.5)
Requirement already satisfied: future>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.16.0)
Requirement already satisfied: cloudpickle>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.6.1)
Requirement already satisfied: s3fs>=0.1.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.3.4)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.24.2)
Requirement already satisfied: psutil>=5.4.8 in /usr/local/lib/python3.6/dist-packages (from featuretools) (5.4.8)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.10.0)
Requirement already satisfied: tqdm>=4.19.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (4.28.1)
Requirement already satisfied: distributed>=1.24.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.25.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.16.5)
Requirement already satisfied: pyyaml>=3.12 in /usr/local/lib/python3.6/dist-packages (from featuretools) (3.13)
Requirement already satisfied: boto3>=1.9.91 in /usr/local/lib/python3.6/dist-packages (from s3fs>=0.1.2->featuretools) (1.9.224)
Requirement already satisfied: botocore>=1.12.91 in /usr/local/lib/python3.6/dist-packages (from s3fs>=0.1.2->featuretools) (1.12.224)
Requirement already satisfied: fsspec>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from s3fs>=0.1.2->featuretools) (0.4.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->featuretools) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->featuretools) (2.5.3)
Requirement already satisfied: tornado>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (4.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (1.12.0)
Requirement already satisfied: tblib in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (1.4.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (7.0)
Requirement already satisfied: msgpack in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (0.5.6)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (2.1.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (1.0.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3>=1.9.91->s3fs>=0.1.2->featuretools) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3>=1.9.91->s3fs>=0.1.2->featuretools) (0.2.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore>=1.12.91->s3fs>=0.1.2->featuretools) (0.15.2)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore>=1.12.91->s3fs>=0.1.2->featuretools) (1.24.3)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=1.24.2->featuretools) (1.0.0)

In [3]:
# Install package
pip install sklearn-pandas

Requirement already satisfied: sklearn-pandas in /usr/local/lib/python3.6/dist-packages (1.8.0)
Requirement already satisfied: pandas>=0.11.0 in /usr/local/lib/python3.6/dist-packages (from sklearn-pandas) (0.24.2)
Requirement already satisfied: scikit-learn>=0.15.0 in /usr/local/lib/python3.6/dist-packages (from sklearn-pandas) (0.21.3)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from sklearn-pandas) (1.3.1)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from sklearn-pandas) (1.16.5)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.11.0->sklearn-pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.11.0->sklearn-pandas) (2.5.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.15.0->sklearn-pandas) (0.13.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.11.0->sklearn-pandas) (1.12.0)

In [0]:
# Visualization:
# https://www.kaggle.com/rounakbanik/the-story-of-film

# Download dataset:
# https://www.kaggle.com/rounakbanik/the-movies-dataset#ratings.csv

In [0]:
import pandas as pd
from sklearn_pandas import DataFrameMapper, gen_features,  CategoricalImputer
import sklearn.preprocessing
from datetime import date
import numpy as np

In [5]:
# save model image file to Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [6]:
!ls -la /content/gdrive/My\ Drive/Colab\ Notebooks/featuretools

total 729065
-rw------- 1 root root    127307 Sep 16 13:52 featuretools.ipynb
-rw------- 1 root root  34445126 Sep 11 11:37 movies_metadata.csv
-rw------- 1 root root 709550327 Sep 11 11:38 ratings.csv
-rw------- 1 root root   2438266 Sep 15 18:27 ratings_small.csv

In [7]:
movies = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/featuretools/movies_metadata.csv')
ratings = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/featuretools/ratings.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [0]:
movies.rename(columns={'id': 'movieId'}, inplace=True)

In [0]:
movies['movieId'] = movies['movieId'].apply(lambda x: x if x.isdigit() else 999999999)

In [0]:
movies['budget'] = movies['budget'].apply(lambda x: x if x.isdigit() else 0)

In [0]:
movies['movieId'] = movies['movieId'].astype('int64')

In [13]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
movieId                  45466 non-null int64
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), int64(1), object(19)
memory usage: 8.3+ MB

In [14]:
movies.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
movieId                      0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [0]:
movies = movies.drop(['overview','homepage','original_title','imdb_id', 'belongs_to_collection', 'genres','poster_path', 'production_companies','production_countries','spoken_languages', 'tagline'], axis=1)

In [0]:
# Set up transformations for numerical and categorical columns
# col_categorical = list( movies.select_dtypes(exclude=[np.int64]) )

col_cat_list = list( movies.select_dtypes(exclude=np.number) )
col_num_list = list( movies.select_dtypes(include=np.number) )
col_none = ['movieId']

num_cols = ['budget', 'popularity']
[ col_cat_list.remove(x) for x in num_cols ]
[ col_num_list.append(x) for x in num_cols ]
col_cat_list.remove('release_date')
col_num_list.remove('movieId')

movies[col_cat_list] = movies[col_cat_list].astype('category')
# movies[col_num_list] = movies[col_num_list].astype('float64', errors='coerce')
movies['budget'] = pd.to_numeric(movies['budget'],errors="coerce")
movies['popularity'] = pd.to_numeric(movies['popularity'],errors="coerce")

# movies[col_num_list] = [ pd.to_numeric(movies[x], errors='coerce') for x in col_num_list ]

# Convert to list of lists
col_categorical = [ [x] for x in col_cat_list ]
col_numerical   = [ [x] for x in col_num_list ]
col_date = ['release_date']

In [17]:
movies.head()

   adult    budget  movieId  ...  video  vote_average vote_count
0  False  30000000      862  ...  False           7.7     5415.0
1  False  65000000     8844  ...  False           6.9     2413.0
2  False         0    15602  ...  False           6.5       92.0
3  False  16000000    31357  ...  False           6.1       34.0
4  False         0    11862  ...  False           5.7      173.0

[5 rows x 13 columns]

In [0]:
movies['release_date']=pd.to_datetime(movies['release_date'], errors="coerce")

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 13 columns):
adult                45466 non-null category
budget               45466 non-null int64
movieId              45466 non-null int64
original_language    45455 non-null category
popularity           45460 non-null float64
release_date         45376 non-null datetime64[ns]
revenue              45460 non-null float64
runtime              45203 non-null float64
status               45379 non-null category
title                45460 non-null category
video                45460 non-null category
vote_average         45460 non-null float64
vote_count           45460 non-null float64
dtypes: category(5), datetime64[ns](1), float64(5), int64(2)
memory usage: 4.7 MB

In [0]:
#movies['release_date'].fillna('1900-01-01', inplace=True)

In [0]:
from sklearn.base import TransformerMixin

class DateEncoder(TransformerMixin):
  def fit(self, X, y=None):
    return self

  def transform(self, X):
    X = pd.to_datetime(movies['release_date'])
    dt = X.dt
    return pd.concat([dt.year, dt.month, dt.day],  axis=1)

In [0]:
classes_categorical = [ CategoricalImputer, sklearn.preprocessing.LabelEncoder]
classes_numerical = [ {'class':sklearn.preprocessing.Imputer, 'strategy' : 'median'}, sklearn.preprocessing.StandardScaler]
classes_dates = [DateEncoder]
classes_none = [None]

In [23]:
feature_def = gen_features(
    columns = col_categorical
    , classes = classes_categorical
)


feature_def_numerical = gen_features(
    columns = col_numerical
    , classes = classes_numerical
)


feature_def_date = gen_features(
    columns = col_date
    , classes = classes_dates
)


feature_def_none = gen_features(
    columns = col_none
    , classes = classes_none
)

feature_def.extend(feature_def_date)
feature_def.extend(feature_def_numerical)
feature_def.extend(feature_def_none)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [24]:
feature_def

[(['adult'],
  [CategoricalImputer(copy=True, fill_value='?', missing_values='NaN',
                      strategy='most_frequent'), LabelEncoder()]),
 (['original_language'],
  [CategoricalImputer(copy=True, fill_value='?', missing_values='NaN',
                      strategy='most_frequent'), LabelEncoder()]),
 (['status'],
  [CategoricalImputer(copy=True, fill_value='?', missing_values='NaN',
                      strategy='most_frequent'), LabelEncoder()]),
 (['title'],
  [CategoricalImputer(copy=True, fill_value='?', missing_values='NaN',
                      strategy='most_frequent'), LabelEncoder()]),
 (['video'],
  [CategoricalImputer(copy=True, fill_value='?', missing_values='NaN',
                      strategy='most_frequent'), LabelEncoder()]),
 ('release_date', [<__main__.DateEncoder at 0x7ff81b9784a8>]),
 (['revenue'],
  [Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0),
   StandardScaler(copy=True, with_mean=True, with_std=True)]),
 (['runtime'],
  [Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0),
   StandardScaler(copy=True, with_mean=True, with_std=True)]),
 (['vote_average'],
  [Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0),
   StandardScaler(copy=True, with_mean=True, with_std=True)]),
 (['vote_count'],
  [Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0),
   StandardScaler(copy=True, with_mean=True, with_std=True)]),
 (['budget'],
  [Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0),
   StandardScaler(copy=True, with_mean=True, with_std=True)]),
 (['popularity'],
  [Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0),
   StandardScaler(copy=True, with_mean=True, with_std=True)]),
 ('movieId', None)]

In [25]:
mapper = DataFrameMapper(feature_def , df_out = True)
new_df_movies = mapper.fit_transform(movies)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [26]:
movies.head()

   adult    budget  movieId  ...  video  vote_average vote_count
0  False  30000000      862  ...  False           7.7     5415.0
1  False  65000000     8844  ...  False           6.9     2413.0
2  False         0    15602  ...  False           6.5       92.0
3  False  16000000    31357  ...  False           6.1       34.0
4  False         0    11862  ...  False           5.7      173.0

[5 rows x 13 columns]

In [0]:
new_df_movies.rename(columns={'release_date_0': 'year', 'release_date_1': 'month', 'release_date_2':'day'}, inplace=True)

In [28]:
new_df_movies.head()

   adult  original_language  status  ...    budget  popularity  movieId
0      3                 20       4  ...  1.479373    3.168317      862
1      3                 20       4  ...  3.488165    2.347099     8844
2      3                 20       4  ... -0.242450    1.464059    15602
3      3                 20       4  ...  0.675855    0.156246    31357
4      3                 20       4  ... -0.242450    0.910290    11862

[5 rows x 15 columns]

In [0]:
new_df_movies[col_cat_list] = new_df_movies[col_cat_list].astype('category')

In [30]:
new_df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 15 columns):
adult                45466 non-null category
original_language    45466 non-null category
status               45466 non-null category
title                45466 non-null category
video                45466 non-null category
year                 45376 non-null float64
month                45376 non-null float64
day                  45376 non-null float64
revenue              45466 non-null float64
runtime              45466 non-null float64
vote_average         45466 non-null float64
vote_count           45466 non-null float64
budget               45466 non-null float64
popularity           45466 non-null float64
movieId              45466 non-null int64
dtypes: category(5), float64(9), int64(1)
memory usage: 5.4 MB

In [31]:
import featuretools as ft

ft.list_primitives()

                   name  ...                                        description
0              num_true  ...    Finds the number of 'True' values in a boolean.
1                 count  ...              Counts the number of non null values.
2                  mean  ...   Computes the average value of a numeric feature.
3         n_most_common  ...  Finds the N most common elements in a categori...
4       time_since_last  ...                  Time since last related instance.
5      avg_time_between  ...  Computes the average time between consecutive ...
6                 trend  ...  Calculates the slope of the linear trend of va...
7                median  ...  Finds the median value of any feature with wel...
8                  mode  ...  Finds the most common element in a categorical...
9                   min  ...  Finds the minimum non-null value of a numeric ...
10                 skew  ...               Computes the skewness of a data set.
11                  sum  ...     Sums elements of a numeric or boolean feature.
12                 last  ...                            Returns the last value.
13                  max  ...  Finds the maximum non-null value of a numeric ...
14         percent_true  ...  Finds the percent of 'True' values in a boolea...
15           num_unique  ...  Returns the number of unique categorical varia...
16                  std  ...  Finds the standard deviation of a numeric feat...
17                  any  ...                       Test if any value is 'True'.
18                  all  ...                     Test if all values are 'True'.
19            haversine  ...  Calculate the approximate haversine distance i...
20               months  ...  Transform a Timedelta feature into the number ...
21                   or  ...  For two boolean values, determine if one value...
22                weeks  ...  Transform a Timedelta feature into the number ...
23              cum_sum  ...  Calculates the sum of previous values of an in...
24            cum_count  ...  Calculates the number of previous values of an...
25              is_null  ...  For each value of base feature, return 'True' ...
26             subtract  ...  Creates a transform feature that subtracts two...
27                years  ...  Transform a Timedelta feature into the number ...
28              minutes  ...  Transform a Timedelta feature into the number ...
29              cum_min  ...  Calculates the min of previous values of an in...
..                  ...  ...                                                ...
32              weekday  ...  Transform Datetime feature into the boolean of...
33                  day  ...         Transform a Datetime feature into the day.
34               negate  ...  Creates a transform feature that negates a fea...
35             numwords  ...  Returns the words in a given string by countin...
36           days_since  ...  For each value of the base feature, compute th...
37                 hour  ...        Transform a Datetime feature into the hour.
38                 diff  ...  Compute the difference between the value of a ...
39               second  ...      Transform a Datetime feature into the second.
40               minute  ...      Transform a Datetime feature into the minute.
41           percentile  ...  For each value of the base feature, determines...
42            longitude  ...  Returns the second value on the tuple base fea...
43                  and  ...  For two boolean values, determine if both valu...
44                month  ...       Transform a Datetime feature into the month.
45                 week  ...        Transform a Datetime feature into the week.
46                 year  ...        Transform a Datetime feature into the year.
47                  add  ...  Creates a transform feature that adds two feat...
48             absolute  ...                    Absolute value of base feature.
49             cum_mean  ...  Calculates the mean of previous values of an i...
50              cum_max  ...  Calculates the max of previous values of an in...
51             multiply  ...  Creates a transform feature that multplies two...
52  time_since_previous  ...      Compute the time since the previous instance.
53              weekend  ...  Transform Datetime feature into the boolean of...
54           characters  ...           Return the characters in a given string.
55                 days  ...  Transform a Timedelta feature into the number ...
56           time_since  ...             Calculates time since the cutoff time.
57                hours  ...  Transform a Timedelta feature into the number ...
58                 isin  ...  For each value of the base feature, checks whe...
59                  not  ...  For each value of the base feature, negates th...
60              seconds  ...  Transform a Timedelta feature into the number ...
61             latitude  ...  Returns the first value of the tuple base feat...

[62 rows x 3 columns]

In [0]:
new_df_movies = new_df_movies.drop_duplicates('movieId')

In [0]:
col_cat_list.append('year')
col_cat_list.append('month')
col_cat_list.append('day')

In [34]:
# initialize entityset
es = ft.EntitySet(id = 'movies_entitySet')
variable_types = {cat:ft.variable_types.Categorical for cat in col_cat_list}

es.entity_from_dataframe(entity_id = 'movies_entity_id', dataframe = new_df_movies,  make_index = False, index = 'movieId', variable_types = variable_types)

Entityset: movies_entitySet
  Entities:
    movies_entity_id [Rows: 45434, Columns: 15]
  Relationships:
    No relationships

In [35]:
es['movies_entity_id']

Entity: movies_entity_id
  Variables:
    movieId (dtype: index)
    revenue (dtype: numeric)
    runtime (dtype: numeric)
    vote_average (dtype: numeric)
    vote_count (dtype: numeric)
    budget (dtype: numeric)
    popularity (dtype: numeric)
    adult (dtype: categorical)
    original_language (dtype: categorical)
    status (dtype: categorical)
    title (dtype: categorical)
    video (dtype: categorical)
    year (dtype: categorical)
    month (dtype: categorical)
    day (dtype: categorical)
  Shape:
    (Rows: 45434, Columns: 15)

In [36]:
es['movies_entity_id'].df

             movieId    revenue   runtime  ...    year  month   day
2                  2  -0.174232 -0.656286  ...  1988.0   10.0  21.0
3                  3  -0.174232 -0.473500  ...  1986.0   10.0  16.0
5                  5  -0.107386  0.100970  ...  1995.0   12.0   9.0
6                  6   0.014443  0.414317  ...  1993.0   10.0  15.0
11                11  11.879695  0.701552  ...  1977.0    5.0  25.0
12                12  14.443726  0.153194  ...  2003.0    5.0  30.0
13                13  10.364748  1.249909  ...  1994.0    7.0   6.0
14                14   5.364566  0.727664  ...  1999.0    9.0  15.0
15                15   0.186698  0.649327  ...  1941.0    4.0  30.0
16                16   0.448083  1.197684  ...  2000.0    5.0  17.0
17                17  -0.174232 -0.186265  ...  2006.0    1.0  26.0
18                18   3.928532  0.832113  ...  1997.0    5.0   7.0
19                19  -0.164120  1.537144  ...  1927.0    1.0  10.0
20                20  -0.023022  0.309868  ...  2003.0    3.0   7.0
21                21  -0.174232  0.022633  ...  1966.0    6.0  15.0
22                22  10.008225  1.276021  ...  2003.0    7.0   9.0
24                24   2.638706  0.440429  ...  2003.0   10.0  10.0
25                25   1.331969  0.806001  ...  2005.0   11.0   4.0
26                26  -0.174232  0.231531  ...  2004.0    2.0   5.0
27                27  -0.149753 -0.734622  ...  2004.0    7.0  16.0
28                28   1.216472  1.537144  ...  1979.0    8.0  15.0
30                30  -0.174232 -1.309092  ...  1995.0   12.0  23.0
33                33   2.299946  0.962674  ...  1992.0    8.0   7.0
35                35   8.019301 -0.186265  ...  2007.0    7.0  25.0
38                38   0.949055  0.362092  ...  2004.0    3.0  19.0
55                55   0.150800  1.563256  ...  2000.0    6.0  16.0
58                58  16.391951  1.484919  ...  2006.0    6.0  20.0
59                59   0.770013  0.048745  ...  2005.0    9.0  23.0
62                62   0.893742  1.432695  ...  1968.0    4.0  10.0
63                63   2.450465  0.910450  ...  1995.0   12.0  29.0
...              ...        ...       ...  ...     ...    ...   ...
459950        459950  -0.174232  0.048745  ...  2017.0    7.0  18.0
460024        460024  -0.174232 -0.264602  ...  2017.0    6.0   2.0
460135        460135  -0.174232 -2.458031  ...  2017.0    8.0  30.0
460822        460822  -0.174232  0.205419  ...  2017.0    6.0  13.0
460846        460846  -0.174232 -0.186265  ...  2017.0    3.0   4.0
460870        460870  -0.174232  2.242175  ...  2011.0   10.0   6.0
461053        461053  -0.174232 -0.134041  ...  2017.0    8.0   1.0
461088        461088  -0.174232 -0.134041  ...  2016.0    3.0  22.0
461089        461089  -0.174232 -1.517990  ...  1984.0    1.0   1.0
461257        461257  -0.174232 -0.499612  ...  2017.0    6.0   9.0
461297        461297  -0.174232  0.074858  ...  2017.0    8.0   1.0
461533        461533  -0.174232 -2.066347  ...  2013.0    4.0  23.0
461615        461615  -0.174232 -0.107928  ...  2017.0    6.0  13.0
461634        461634  -0.174232 -0.734622  ...  2017.0    6.0  20.0
461805        461805  -0.174232  3.808910  ...  2017.0    6.0  12.0
461955        461955  -0.174232 -1.883562  ...  2017.0    6.0  14.0
462026        462026  -0.174232 -0.891296  ...  2017.0    6.0  23.0
462108        462108  -0.174232 -0.760735  ...  2017.0    6.0  27.0
462788        462788  -0.174232  0.466541  ...  1966.0   12.0   2.0
463800        463800  -0.174232 -1.753000  ...  2017.0    6.0  28.0
463906        463906  -0.174232 -0.055704  ...  2017.0    7.0  11.0
464111        464111  -0.174232 -1.857449  ...  2017.0    7.0  12.0
464207        464207  -0.174232 -0.212377  ...  2017.0    5.0   1.0
464819        464819  -0.174232 -1.988011  ...  1992.0    1.0   1.0
465044        465044  -0.174232 -0.107928  ...  2017.0    6.0  28.0
467731        467731  -0.174232 -0.891296  ...  1956.0    2.0  19.0
468343        468343  -0.174232 -0.186265  ...  1956.0    1.0   1.0
468707        468707  -0.174232 -0.107928  ...  2017.0    7.0  28.0
469172        469172  -0.174232  0.936562  ...  1984.0    8.0   2.0
999999999  999999999  -0.174232  0.022633  ...     NaN    NaN   NaN

[45434 rows x 15 columns]

In [37]:
movies_new_features, feature_defs = ft.dfs(entityset = es, 
                                    target_entity = 'movies_entity_id',
                                    trans_primitives = ['add', 'multiply'])

movies_new_features.head()

           revenue  ...  budget + popularity * revenue + vote_count
movieId             ...
2        -0.174232  ...                                    0.026529
3        -0.174232  ...                                    0.113422
5        -0.107386  ...                                    0.769031
6         0.014443  ...                                   -0.009366
11       11.879695  ...                                  176.172390

[5 rows x 239 columns]

In [38]:
feature_defs

[<Feature: revenue>,
 <Feature: runtime>,
 <Feature: vote_average>,
 <Feature: vote_count>,
 <Feature: budget>,
 <Feature: popularity>,
 <Feature: adult>,
 <Feature: original_language>,
 <Feature: status>,
 <Feature: title>,
 <Feature: video>,
 <Feature: year>,
 <Feature: month>,
 <Feature: day>,
 <Feature: revenue + runtime>,
 <Feature: vote_average + vote_count>,
 <Feature: revenue + vote_average>,
 <Feature: budget + vote_average>,
 <Feature: runtime + vote_average>,
 <Feature: popularity + vote_average>,
 <Feature: budget + popularity>,
 <Feature: revenue + vote_count>,
 <Feature: runtime + vote_count>,
 <Feature: popularity + runtime>,
 <Feature: popularity + revenue>,
 <Feature: budget + revenue>,
 <Feature: popularity + vote_count>,
 <Feature: budget + vote_count>,
 <Feature: budget + runtime>,
 <Feature: revenue * vote_average>,
 <Feature: budget * vote_average>,
 <Feature: budget * revenue>,
 <Feature: budget * runtime>,
 <Feature: popularity * vote_average>,
 <Feature: popularity * vote_count>,
 <Feature: runtime * vote_average>,
 <Feature: revenue * vote_count>,
 <Feature: revenue * runtime>,
 <Feature: vote_average * vote_count>,
 <Feature: budget * popularity>,
 <Feature: runtime * vote_count>,
 <Feature: popularity * runtime>,
 <Feature: popularity * revenue>,
 <Feature: budget * vote_count>,
 <Feature: popularity + revenue * popularity + vote_count>,
 <Feature: budget + revenue * popularity + runtime>,
 <Feature: popularity * revenue + vote_count>,
 <Feature: vote_average * vote_average + vote_count>,
 <Feature: budget + revenue * revenue + runtime>,
 <Feature: budget + runtime * budget + vote_count>,
 <Feature: runtime + vote_count * vote_count>,
 <Feature: runtime * runtime + vote_average>,
 <Feature: popularity * revenue + runtime>,
 <Feature: popularity + revenue * revenue + vote_average>,
 <Feature: budget + popularity * budget + runtime>,
 <Feature: budget + vote_average * budget + vote_count>,
 <Feature: runtime + vote_count * vote_average>,
 <Feature: popularity * revenue + vote_average>,
 <Feature: popularity + runtime * revenue>,
 <Feature: revenue + vote_count * runtime>,
 <Feature: runtime + vote_average * vote_average>,
 <Feature: popularity + runtime * revenue + vote_average>,
 <Feature: revenue + vote_average * runtime + vote_count>,
 <Feature: budget * revenue + vote_average>,
 <Feature: budget + vote_count * runtime + vote_count>,
 <Feature: popularity + vote_average * runtime + vote_count>,
 <Feature: budget + runtime * budget + vote_average>,
 <Feature: runtime + vote_average * vote_count>,
 <Feature: popularity * popularity + vote_count>,
 <Feature: budget + vote_average * popularity + vote_average>,
 <Feature: revenue + vote_count * runtime + vote_average>,
 <Feature: popularity + revenue * vote_average + vote_count>,
 <Feature: budget + vote_average * revenue + vote_average>,
 <Feature: popularity + vote_average * revenue>,
 <Feature: popularity + vote_average * runtime>,
 <Feature: budget + runtime * revenue + runtime>,
 <Feature: popularity + runtime * vote_average + vote_count>,
 <Feature: budget + revenue * budget + vote_count>,
 <Feature: popularity + runtime * popularity + vote_average>,
 <Feature: revenue + vote_average * runtime>,
 <Feature: popularity + vote_average * runtime + vote_average>,
 <Feature: popularity + revenue * popularity + vote_average>,
 <Feature: budget + vote_average * vote_average + vote_count>,
 <Feature: popularity + vote_count * vote_average + vote_count>,
 <Feature: revenue + vote_average * runtime + vote_average>,
 <Feature: budget + vote_average * popularity + runtime>,
 <Feature: budget + runtime * revenue + vote_average>,
 <Feature: runtime * runtime + vote_count>,
 <Feature: popularity + vote_count * runtime + vote_average>,
 <Feature: budget + runtime * popularity + revenue>,
 <Feature: revenue * revenue + vote_count>,
 <Feature: popularity + vote_count * runtime>,
 <Feature: popularity + runtime * vote_average>,
 <Feature: budget + vote_average * runtime>,
 <Feature: popularity + runtime * runtime + vote_average>,
 <Feature: budget * revenue + runtime>,
 <Feature: budget + popularity * vote_average + vote_count>,
 <Feature: budget + revenue * vote_count>,
 <Feature: budget + runtime * popularity + runtime>,
 <Feature: revenue + runtime * vote_average + vote_count>,
 <Feature: popularity + revenue * vote_average>,
 <Feature: revenue * revenue + vote_average>,
 <Feature: budget * popularity + vote_count>,
 <Feature: popularity * runtime + vote_count>,
 <Feature: popularity + vote_average * vote_count>,
 <Feature: revenue + vote_average * vote_average>,
 <Feature: budget + runtime * runtime>,
 <Feature: runtime * vote_average + vote_count>,
 <Feature: budget + runtime * revenue>,
 <Feature: popularity + vote_average * revenue + runtime>,
 <Feature: budget + vote_count * vote_average + vote_count>,
 <Feature: budget + revenue * revenue>,
 <Feature: revenue * revenue + runtime>,
 <Feature: popularity + vote_average * revenue + vote_count>,
 <Feature: budget + vote_average * runtime + vote_count>,
 <Feature: popularity + vote_count * revenue + vote_average>,
 <Feature: budget * revenue + vote_count>,
 <Feature: budget + popularity * popularity + revenue>,
 <Feature: revenue + vote_count * vote_average>,
 <Feature: budget * budget + vote_average>,
 <Feature: popularity + runtime * runtime + vote_count>,
 <Feature: budget + vote_count * revenue + vote_average>,
 <Feature: budget + popularity * vote_average>,
 <Feature: revenue + runtime * vote_average>,
 <Feature: budget * runtime + vote_average>,
 <Feature: revenue * runtime + vote_average>,
 <Feature: budget + revenue * budget + runtime>,
 <Feature: revenue + vote_average * vote_average + vote_count>,
 <Feature: popularity + runtime * runtime>,
 <Feature: budget * budget + runtime>,
 <Feature: budget + vote_average * runtime + vote_average>,
 <Feature: popularity + vote_average * popularity + vote_count>,
 <Feature: budget * popularity + revenue>,
 <Feature: runtime + vote_average * vote_average + vote_count>,
 <Feature: popularity + vote_average * revenue + vote_average>,
 <Feature: popularity + runtime * popularity + vote_count>,
 <Feature: revenue + vote_count * vote_average + vote_count>,
 <Feature: popularity + revenue * revenue + runtime>,
 <Feature: budget + vote_count * runtime>,
 <Feature: budget * popularity + runtime>,
 <Feature: budget * popularity + vote_average>,
 <Feature: popularity * popularity + vote_average>,
 <Feature: budget + vote_average * popularity + vote_count>,
 <Feature: budget + runtime * runtime + vote_average>,
 <Feature: budget + runtime * vote_average + vote_count>,
 <Feature: budget * budget + vote_count>,
 <Feature: runtime + vote_average * runtime + vote_count>,
 <Feature: popularity + runtime * revenue + runtime>,
 <Feature: budget + vote_average * vote_count>,
 <Feature: budget + runtime * popularity + vote_count>,
 <Feature: popularity + revenue * revenue>,
 <Feature: revenue + runtime * runtime + vote_average>,
 <Feature: budget + vote_count * popularity>,
 <Feature: budget + popularity * runtime + vote_average>,
 <Feature: budget + revenue * popularity + revenue>,
 <Feature: revenue * runtime + vote_count>,
 <Feature: budget + revenue * revenue + vote_average>,
 <Feature: popularity * popularity + revenue>,
 <Feature: popularity + vote_count * revenue>,
 <Feature: popularity + revenue * popularity + runtime>,
 <Feature: budget + revenue * popularity + vote_count>,
 <Feature: budget + popularity * budget + vote_count>,
 <Feature: budget + vote_average * popularity>,
 <Feature: budget + revenue * vote_average + vote_count>,
 <Feature: popularity * popularity + runtime>,
 <Feature: budget + runtime * popularity + vote_average>,
 <Feature: budget * budget + popularity>,
 <Feature: revenue + runtime * revenue + vote_count>,
 <Feature: budget + revenue * popularity + vote_average>,
 <Feature: budget * vote_average + vote_count>,
 <Feature: popularity * vote_average + vote_count>,
 <Feature: popularity + vote_count * revenue + vote_count>,
 <Feature: budget + popularity * revenue + runtime>,
 <Feature: budget + vote_count * revenue + vote_count>,
 <Feature: budget + vote_average * popularity + revenue>,
 <Feature: revenue + runtime * runtime + vote_count>,
 <Feature: budget + revenue * popularity>,
 <Feature: runtime + vote_count * vote_average + vote_count>,
 <Feature: budget + popularity * runtime + vote_count>,
 <Feature: budget + revenue * budget + vote_average>,
 <Feature: budget + vote_count * vote_count>,
 <Feature: popularity + revenue * runtime + vote_average>,
 <Feature: budget + popularity * budget + revenue>,
 <Feature: popularity * runtime + vote_average>,
 <Feature: budget + revenue * vote_average>,
 <Feature: budget + vote_count * runtime + vote_average>,
 <Feature: popularity + revenue * vote_count>,
 <Feature: budget + vote_count * vote_average>,
 <Feature: budget + revenue * runtime + vote_average>,
 <Feature: budget + popularity * popularity>,
 <Feature: popularity + runtime * vote_count>,
 <Feature: budget + vote_average * revenue + runtime>,
 <Feature: popularity + vote_count * revenue + runtime>,
 <Feature: popularity + vote_count * vote_average>,
 <Feature: budget + vote_count * popularity + revenue>,
 <Feature: budget * runtime + vote_count>,
 <Feature: budget + vote_average * revenue + vote_count>,
 <Feature: revenue + runtime * runtime>,
 <Feature: popularity + revenue * revenue + vote_count>,
 <Feature: budget + popularity * revenue>,
 <Feature: budget + popularity * runtime>,
 <Feature: popularity + vote_count * vote_count>,
 <Feature: popularity + runtime * revenue + vote_count>,
 <Feature: popularity + vote_average * vote_average>,
 <Feature: revenue + vote_average * vote_count>,
 <Feature: budget + vote_count * popularity + runtime>,
 <Feature: budget + vote_count * popularity + vote_average>,
 <Feature: popularity + vote_count * runtime + vote_count>,
 <Feature: vote_average + vote_count * vote_count>,
 <Feature: budget + popularity * popularity + runtime>,
 <Feature: budget + vote_average * revenue>,
 <Feature: budget + runtime * revenue + vote_count>,
 <Feature: revenue + vote_average * revenue + vote_count>,
 <Feature: budget + popularity * vote_count>,
 <Feature: revenue + runtime * vote_count>,
 <Feature: budget + popularity * popularity + vote_count>,
 <Feature: revenue + vote_count * vote_count>,
 <Feature: budget + runtime * runtime + vote_count>,
 <Feature: budget * budget + revenue>,
 <Feature: budget + revenue * runtime + vote_count>,
 <Feature: budget + vote_count * revenue>,
 <Feature: popularity + revenue * runtime + vote_count>,
 <Feature: revenue + runtime * revenue + vote_average>,
 <Feature: revenue + vote_count * runtime + vote_count>,
 <Feature: budget + runtime * vote_count>,
 <Feature: budget + popularity * revenue + vote_average>,
 <Feature: budget + revenue * revenue + vote_count>,
 <Feature: popularity + vote_average * vote_average + vote_count>,
 <Feature: budget + popularity * popularity + vote_average>,
 <Feature: popularity + revenue * runtime>,
 <Feature: budget + vote_count * revenue + runtime>,
 <Feature: budget + runtime * vote_average>,
 <Feature: revenue * vote_average + vote_count>,
 <Feature: budget + revenue * runtime>,
 <Feature: budget + vote_count * popularity + vote_count>,
 <Feature: budget + runtime * popularity>,
 <Feature: budget + popularity * budget + vote_average>,
 <Feature: budget + vote_average * vote_average>,
 <Feature: budget + popularity * revenue + vote_count>]

In [39]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [40]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [53]:
es.entity_from_dataframe(entity_id = 'ratings_entity_id', dataframe = ratings, 
                         make_index = True, index = 'rating_id',
                         variable_types = {'userId': ft.variable_types.Categorical, 'timestamp': ft.variable_types.Categorical})

Entityset: movies_entitySet
  Entities:
    movies_entity_id [Rows: 45434, Columns: 15]
    ratings_entity_id [Rows: 26024289, Columns: 5]
  Relationships:
    ratings_entity_id.movieId -> movies_entity_id.movieId

In [54]:
# add relationships
movies_ratings_relation = ft.Relationship(es['movies_entity_id']['movieId'],
                                          es['ratings_entity_id']['movieId'])

es = es.add_relationship(movies_ratings_relation)

2019-09-16 14:03:32,518 featuretools.entityset - WARNING    Not adding duplicate relationship: <Relationship: ratings_entity_id.movieId -> movies_entity_id.movieId>

In [55]:
es

Entityset: movies_entitySet
  Entities:
    movies_entity_id [Rows: 45434, Columns: 15]
    ratings_entity_id [Rows: 26024289, Columns: 5]
  Relationships:
    ratings_entity_id.movieId -> movies_entity_id.movieId

In [56]:
es['ratings_entity_id']

Entity: ratings_entity_id
  Variables:
    rating_id (dtype: index)
    movieId (dtype: ordinal)
    rating (dtype: numeric)
    userId (dtype: categorical)
    timestamp (dtype: categorical)
  Shape:
    (Rows: 26024289, Columns: 5)

In [0]:
df, features = ft.dfs(entityset = es, target_entity = 'movies_entity_id', max_depth = 2)

# df, features = ft.dfs(entityset = es, target_entity = 'movies_entity_id', agg_primitives = ['mean'])

In [58]:
df.head(5)

           revenue  ...  MODE(ratings_entity_id.timestamp)
movieId             ...
2        -0.174232  ...                        849122404.0
3        -0.174232  ...                        860156485.0
5        -0.107386  ...                        848992200.0
6         0.014443  ...                        844965565.0
11       11.879695  ...                        822873600.0

[5 rows x 25 columns]

In [59]:
features

[<Feature: revenue>,
 <Feature: runtime>,
 <Feature: vote_average>,
 <Feature: vote_count>,
 <Feature: budget>,
 <Feature: popularity>,
 <Feature: adult>,
 <Feature: original_language>,
 <Feature: status>,
 <Feature: title>,
 <Feature: video>,
 <Feature: year>,
 <Feature: month>,
 <Feature: day>,
 <Feature: SUM(ratings_entity_id.rating)>,
 <Feature: STD(ratings_entity_id.rating)>,
 <Feature: MAX(ratings_entity_id.rating)>,
 <Feature: SKEW(ratings_entity_id.rating)>,
 <Feature: MIN(ratings_entity_id.rating)>,
 <Feature: MEAN(ratings_entity_id.rating)>,
 <Feature: COUNT(ratings_entity_id)>,
 <Feature: NUM_UNIQUE(ratings_entity_id.userId)>,
 <Feature: NUM_UNIQUE(ratings_entity_id.timestamp)>,
 <Feature: MODE(ratings_entity_id.userId)>,
 <Feature: MODE(ratings_entity_id.timestamp)>]